body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

#scatterPlot {
  border: 1px solid #ccc;
  /* max-height: 1vh; */
}

.sidebar {
  margin-left: 20px;
  width: 250px;
}

.stats-box,
.legend-box {
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* this is for the hovering action */
.tooltipq {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  z-index: 1000; /* Ensure tooltip appears in front */
}

/* Cluster Legend Styling */
.legend-box ul {
  list-style: none;
  padding: 0;
}

.legend-box li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.legend-box li div {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.legend-box li input {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.legend-box li input:focus {
  border-bottom: 1px solid #000;
  outline: none;
}

.legend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 50%;
}

#neighborTable {
  max-height: 400px; 
  max-width: 20px;
  overflow-y: auto;
}

#neighborTableWrapper {
  max-height: auto; 
  max-width: 750px;
  overflow-x: auto;
}
